@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Primary Colors */
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  /* Neutral Colors */
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);

}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--grayish-blue);
  background: var(--very-light-gray);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Rubik', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: transparent;
  font-family: 'Rubik';
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
}
button > svg {
  transition: all .3s ease;
}

.card {
  background: var(--white);
  border-radius: 20px;
  padding: 20px;
  margin: 15px auto;
}